# MacOS files:
.DS_Store

# VIM stuff
*.swp

# latex auxiliary files:
*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.toc
*converted-to.pdf
*.glsdefs
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
